.wrapper {
    padding-top: 90px !important
}

.example-preview {
    border: none !important;
}

.card.card-custom {
    box-shadow: 0px 0px 10px 0px rgb(82 63 105 / 5%) !important;
}

.container {
    max-width: 100% !important;
}

#discussion_panel {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#message_box {
    display: inline-block;
    margin-top: auto;

}

#message_panel {
    height: 45vh;
    overflow-y: scroll;
}

/* chat style */
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}



.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.flex-grow-0 {
    flex-grow: 0 !important;
}

.border-top {
    border-top: 1px solid #dee2e6 !important;
}

.chat_closed_box {
    height: 100px;
}

#tdg_project_name {
    height: 28px;
    padding: 2px;
    width: 80vh;
}

.filepond--credits {
    display: none !important;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
    color: red;
}

.subtask_delete {
    cursor: pointer;
}

.nulled_task {
    font-style: italic;
    color: #bbbbbb;
}

.Sub_task_description {
    color: black;
}

.countdown_section {
    color: white;
    display: inline-block;
    font-size: 10px;
    list-style-type: none;
    padding: 10px;
    text-transform: uppercase;
}

.countdown_section span {
    display: block;
    font-size: 30px;
}

.emoji {
    display: none;
    padding: 1rem;
}

.emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

#heading {
    display: none;
    color: white;
}
